* {
  font-family: 'DM Sans';
  font-style: normal;
}

.cart-container-to-hold-all-item {
  background: #f9fbfe;
  border: 1px solid rgba(11, 105, 255, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px;
  padding: 15px;
}
.cart-container-holds-menu-headings {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  width: 900px;
  font-size: 20px;
  letter-spacing: 0.5px;
  color: #475569;
  font-weight: 500;
}
.cart-route-cart-item-un-order-container {
  width: 100%;
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.cart-route-horizontal-line {
  border: 1px dashed #cbd2d9;
  margin: 20px 0px 20px 0px;
  width: 100%;
}
.cart-route-total-order-value-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.cart-route-total-order-value {
  font-weight: 500;
  font-size: 25px;
  color: #3e4c59;
}
.cart-route-total-order-value-rupees {
  font-weight: 500;
  font-size: 25px;
  color: #3e4c59;
  display: flex;
  align-items: center;
}
.cart-route-place-order-button {
  width: 99px;
  height: 32px;
  border: none;
  background: #f7931e;
  border-radius: 8px;
  color: white;
  align-self: flex-end;
  margin: 10px 0px 10px 0px;
}
@media all and (max-width: 768px) {
  .cart-route-total-order-value {
    font-size: 18px;
  }
  .cart-route-total-order-value-rupees {
    font-size: 18px;
  }
}
.cart-route-payment-success-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 90vh;
}
.cart-route-payment-success-checkbox {
  color: #22c55e;
  height: 100px;
  width: 100px;
  margin-bottom: 15px;
}
.cart-route-payment-success-checkbox-heading {
  font-weight: 500;
  font-size: 20px;
  color: #1e293b;
}
.cart-route-payment-success-checkbox-paragraph {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #64748b;
  margin-bottom: 15px;
}
.cart-route-payment-success-checkbox-home-button {
  width: 131px;
  height: 32px;
  background: #f7931e;
  border-radius: 8px;
  color: white;
  border: none;
}
.cart-route-empty-view-container {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cart-route-empty-view-image {
  width: 200px;
  margin-bottom: 15px;
}
.cart-route-empty-view-heading {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  color: #1e293b;
}
.cart-route-empty-view-paragraph {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #64748b;
  margin-bottom: 15px;
}
.cart-route-empty-view-button {
  width: 93px;
  height: 32px;
  background: #f7931e;
  border-radius: 8px;
  color: white;
  border: none;
}
