button {
  cursor: pointer;
  background: none;
}

.home-page-counter-plus-minus-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 15px 0px 15px 0px;
}
.home-button-pagination-style {
  border: 2px solid #334155;
  padding: 5px 10px 5px 10px;
  margin: 0px 10px 0px 10px;
}
.home-route-pages-class {
  font-family: 'Bree Serif';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #334155;
}
