.cart-items-main-image {
  width: 150px;
  height: 100px;
  border-radius: 10px;
}
.cart-list-item-main-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.cart-item-main-content-container {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 800px;
  padding: 15px;
  margin-bottom: 15px;
}
.cart-item-main-item-heading {
  font-weight: 500;
  font-size: 20px;
  color: #183b56;
  width: 100px;
}
.cart-item-plus-minus-button-container {
  display: flex;
  flex-direction: row;
  width: 130px;
  justify-content: space-between;
  align-items: center;
}
.cart-item-plus-minus-count-value {
  font-size: 20px;
  font-weight: 500;
  color: #475569;
}
.cart-item-plus-minus-button {
  background-color: none;
  border: 1px solid #475569;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  box-sizing: content-box;
}
.cart-item-value-rupee-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #ffa412;
  font-weight: 700;
  font-size: 20px;
  width: 150px;
}
@media all and (max-width: 768px) {
  .cart-list-item-main-container {
    width: 100%;
  }
  .cart-items-main-image {
    width: 120px;
    height: 80px;
  }
  .cart-item-main-content-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    max-width: 120px;
    margin-bottom: 5px;
  }

  .cart-item-main-item-heading {
    font-size: 15px;
    margin-bottom: 5px;
    width: 100%;
  }
  .cart-item-plus-minus-button-container {
    width: 100%;
  }

  .cart-item-plus-minus-count-value {
    font-size: 15px;
    margin: 8px;
  }
  .cart-item-value-rupee-container {
    width: 100%;
  }
}
